@inject GameConnection connection

@if (connection.Room.IsHost(connection.GetConnectionId()))
{
    <h3>Players</h3>
    <div>
        <ul>
            @foreach (var p in connection.Room.RoomUsers)
            {
                <li>
                    @p.Name @if (p.IsHost) { <span>-Host</span>}
                </li>
            }
        </ul>
    </div>

    <h3>Roles</h3>
    @for (int p = 0; p < connection.Room.GameState.GameConfig.Roles.Count; p++)
    {
        int local = p;
        <div>
            <select value="@((int)connection.Room.GameState.GameConfig.Roles[local])" @onchange="@((e) => OnUpdated(e, local))">
                <option value="5">Mafia</option>
                <option value="2">Citizen</option>
                <option value="4">Angel</option>
                <option value="3">Detective</option>
            </select>
        </div>
    }
    <button class="btn btn-primary" @onclick="StartGame">Start Game</button>
}
else
{
    <h3>Players</h3>
    <div>
        <ul>
            @foreach (var p in connection.Room.RoomUsers)
            {
                <li>
                    @p.Name @if (p.IsHost) { <span>-Host</span>}
                </li>
            }
        </ul>
    </div>
    <h3>Roles</h3>
    @foreach (var p in connection.Room.GameState.GameConfig.Roles)
    {
        <div>
            @p
        </div>
    }
}

@code {
    protected override void OnInitialized()
    {
        connection.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        connection.OnChange -= StateHasChanged;
    }

    public async Task OnUpdated(ChangeEventArgs e, int index)
    {
        connection.Room.GameState.GameConfig.Roles[index] = (MafiaApp.Shared.RolesEnum)int.Parse(e.Value.ToString());
        await connection.UpdateGameConfig();
    }

    public async Task StartGame()
    {
        await connection.StartNewGame();
    }
} 