@inject GameConnection connection


<h3>Night @connection.Room.GameState.DayCount</h3>

@if (connection.Room.IsHost(connection.GetConnectionId()))
{
    <div>
        <ul>
            @foreach (var p in connection.Room.GameState.Players)
            {
                <li>
                    @p.RoomUser.Name - @p.Role
                </li>
            }
        </ul>
    </div>
    <button class="btn-primary" @onclick="GoToNextGamePeriod">Go To Voting</button>
}
else
{
    <div>
        <ul>

            @foreach (var p in connection.Room.GameState.Players)
            {
                @if (p.Role != RolesEnum.Host)
                {
                    <li>

                        @p.RoomUser.Name


                        @if (p.Role == RolesEnum.Mafia && connection.GetUserSelf().Role == RolesEnum.Mafia)
                        {
                            <span> - Mafia</span>
                        }
                        @if (p.Role == RolesEnum.Detective && connection.GetUserSelf().Role == RolesEnum.Detective)
                        {
                            <span> - Detective</span>
                        }
                    </li>
                }
            }

        </ul>
    </div>
}

@code {
    protected override void OnInitialized()
    {
        connection.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        connection.OnChange -= StateHasChanged;
    }

    public async Task GoToNextGamePeriod()
    {
        await connection.GoToNextGamePeriod();
    }
} 